<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
       
      <h1 class="display-3" style="color: #ffffff ;">Born to learn.</h1>
      


      
      <form class="d-flex " action="/buscando/" method="post">
        <a class="btn  btn-light me-1" href="/inicio" role="button">Inicio</a>
        <a class="btn  btn-light me-1" href="/crear" role="button">Crear</a>
        
      
        <input class="form-control me-1" type="search" placeholder="Buscar" aria-label="Search" name="busqueda">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
    </div>
  </nav>